h1,
h2,
h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: left !important;
}

.row {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: table;
    font-size: 15px;
    text-align: left !important;
    line-height: 1px;
}

.font-bold {
    font-weight: bold;
}

.col {
    float: left;
    width: 20%;
}