<h6>Stanza {{ roomName | safe }}<h6>
<dl>
  <dt>Temperatura</dt>
  <dd id="degrees" style="font-weight: bold">{{ degrees | safe }}°</dd>
  <dt>Umidità</dt>
  <dd id="humidity">{{ humidity | safe}}%</dd>
</dl>